.img-fluid{
    size: 4px;
}
.container {
    position: relative;
    top: -4px;
    text-align: left;
    color: white;
}

.masthead{
    position: relative;
    top: -70px;

}

.footer {
    position: absolute;
    left: 0;
    bottom: auto;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 75%;
}